<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>로그인</h2>
    </div>

    <form th:action="@{/adminServer/login}" th:object="${loginForm}" th:method="post">
        <div>
            <label for="nickName">아이디</label>
            <input type="text" id="nickName" name="nickName" th:field="*{nickName}" class="form-control" placeholder="아이디입력">
        </div>
        <div>
            <label for="phoneNumber">비밀번호</label>
            <input type="password" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" class="form-control" placeholder="비밀번호입력">
        </div>

        <hr class="my-4">

        <div class="col">
            <button class="w-100 btn btn-primary btn-lg" type="submit">로그인</button>
        </div>
    </form>

</div> <!-- /container -->
</body>
</html>