<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .row {
            margin-bottom: 5px;
        }
    </style>
</head>
<script th:inline="javascript">
    /*<![CDATA[*/
    var accessToken = /*[[${#strings.escapeJavaScript(tokenResponse.accessToken)}]]*/ '';
    var refreshToken = /*[[${#strings.escapeJavaScript(tokenResponse.refreshToken)}]]*/ '';
    window.localStorage.setItem("accessToken", accessToken);
    window.localStorage.setItem("refreshToken", refreshToken);
    function goToSenior() {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/adminServer/seniorInfo", true);
        xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    document.getElementById("output").innerHTML = xhr.responseText;
                } else {
                    localStorage.removeItem("accessToken");
                    localStorage.removeItem("refreshToken");
                }
            }
        };
        xhr.send();
    }

    function goToJunior() {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/adminServer/juniorInfo", true);
        xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    document.getElementById("output").innerHTML = xhr.responseText;
                } else {
                    localStorage.removeItem("accessToken");
                }
            }
        };
        xhr.send();
    }

    function goToPayment() {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/adminServer/paymentInfo", true);
        xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    document.getElementById("output").innerHTML = xhr.responseText;
                } else {
                    localStorage.removeItem("accessToken");
                }
            }
        };
        xhr.send();
    }

    function goToSalary() {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/adminServer/salaryInfo", true);
        xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    document.getElementById("output").innerHTML = xhr.responseText;
                } else {
                    localStorage.removeItem("accessToken");
                }
            }
        };
        xhr.send();
    }

    function getCertification(seniorId) {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/adminServer/certification/" + seniorId, true);
        xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    document.getElementById("output").innerHTML = xhr.responseText;
                } else {
                    localStorage.removeItem("accessToken");
                    localStorage.removeItem("refreshToken");
                }
            }
        };
        xhr.send();
    }

    function refuseCertification(seniorId) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/adminServer/certification/" + seniorId + "/refuse", true);
        xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    document.getElementById("output").innerHTML = xhr.responseText;
                } else {
                    localStorage.removeItem("accessToken");
                    localStorage.removeItem("refreshToken");
                }
            }
        };
        xhr.send();
    }

    function approveCertification(seniorId) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/adminServer/certification/" + seniorId + "/approve", true);
        xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    document.getElementById("output").innerHTML = xhr.responseText;
                } else {
                    localStorage.removeItem("accessToken");
                    localStorage.removeItem("refreshToken");
                }
            }
        };
        xhr.send();
    }

    function getMentoring(seniorId) {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/adminServer/mentoring/" + seniorId, true);
        xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    document.getElementById("output").innerHTML = xhr.responseText;
                } else {
                    localStorage.removeItem("accessToken");
                    localStorage.removeItem("refreshToken");
                }
            }
        };
        xhr.send();
    }

    function refundMentoring(mentoringId) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/adminServer/mentoring/refund/" + mentoringId, true);
        xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    document.getElementById("output").innerHTML = xhr.responseText;
                } else {
                    localStorage.removeItem("accessToken");
                    localStorage.removeItem("refreshToken");
                }
            }
        };
        xhr.send();
    }

    function getSalary(seniorId) {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/adminServer/salary/" + seniorId, true);
        xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    document.getElementById("output").innerHTML = xhr.responseText;
                } else {
                    localStorage.removeItem("accessToken");
                    localStorage.removeItem("refreshToken");
                }
            }
        };
        xhr.send();
    }

    function salaryDone(salaryId) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/adminServer/salary/done/" + salaryId, true);
        xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    document.getElementById("output").innerHTML = xhr.responseText;
                } else {
                    localStorage.removeItem("accessToken");
                    localStorage.removeItem("refreshToken");
                }
            }
        };
        xhr.send();
    }
</script>


<body>
<div class="container">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="goToSenior()"
                    type="button">선배 관리</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="goToJunior()"
                    type="button">후배 관리</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="goToPayment()"
                    type="button">결제 관리</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="goToSalary()"
                    type="button">정산 관리</button>
        </div>
    </div>
</div>
<div id="output" class="center">
    <!-- 서버에서 받은 데이터가 여기에 표시됩니다. -->
</div>
</body>
</html>