<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .row {
            margin-bottom: 5px;
        }
    </style>
</head>
<script th:inline="javascript">
    /*<![CDATA[*/
    const accessToken = /*[[${#strings.escapeJavaScript(tokenResponse.accessToken)}]]*/ '';
    window.localStorage.setItem("accessToken", accessToken);

    function goToGet(url) {
        sendApi("GET", url);
    }

    function goToPost(alert, url) {
        if (confirm(alert) == true) {
            sendApi("POST", url);
        } else {
            return false;
        }
    }

    function sendMessage(url) {
        const $phoneNumber = document.getElementById("phoneNumber").value;
        const $nickName = document.getElementById("nickName").value;
        const $postgraduate = document.getElementById("postgraduate").value;
        const $major = document.getElementById("major").value;
        const data = {
            phoneNumber : $phoneNumber,
            nickName : $nickName,
            postgraduate : $postgraduate,
            major : $major
        };

        sendApi("POST", url, data);
    }

    function sendApi(method, url, data) {
        const xhr = new XMLHttpRequest();
        xhr.open(method, url, true);
        xhr.setRequestHeader("Authorization", "Bearer " + accessToken);
        xhr.setRequestHeader("content-type", "application/json");
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    document.getElementById("output").innerHTML = xhr.responseText;
                } else {
                    localStorage.removeItem("accessToken");
                }
            }
        };
        if (data == null) {
            xhr.send();
        }
        else {
            xhr.send(JSON.stringify(data));
        }
    }
</script>


<body>
<div class="container">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="goToGet('/adminServer/seniorInfo')"
                    type="button">선배 관리</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="goToGet('/adminServer/userInfo')"
                    type="button">후배 관리</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="goToGet('/adminServer/paymentInfo')"
                    type="button">결제 관리</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="goToGet('/adminServer/salaryInfo')"
                    type="button">정산 관리</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="goToGet('/adminServer/salary/unsettled')"
                    type="button">미정산건 관리</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="goToGet('/adminServer/message')"
                    type="button">알림톡 전송</button>
        </div>
    </div>
</div>
<div id="output" class="center">
    <!-- 서버에서 받은 데이터가 여기에 표시됩니다. -->
</div>
</body>
</html>